<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd">
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
<property name="url" value="jdbc:mysql://120.24.90.152:3306/bookstore"/>
<property name="username" value="username"/>
<property name="password" value="password"/>
</bean>
<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
<property name="dataSource" ref="dataSource"/>
<property name="hibernateProperties">
<props>
<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
</props>
</property>
<property name="mappingResources">
<list>
<value>cn/edu/zjut/po/Customer.hbm.xml</value>
<value>cn/edu/zjut/po/Admin.hbm.xml</value>
<value>cn/edu/zjut/po/Book.hbm.xml</value>
<value>cn/edu/zjut/po/Address.hbm.xml</value>
<value>cn/edu/zjut/po/OrderItem.hbm.xml</value>
<value>cn/edu/zjut/po/UserOrder.hbm.xml</value>
<value>cn/edu/zjut/po/MoneyCard.hbm.xml</value>
<value>cn/edu/zjut/po/Category.hbm.xml</value>
<value>cn/edu/zjut/po/CategorySecond.hbm.xml</value>
<value>cn/edu/zjut/po/SysAdmin.hbm.xml</value>
<value>cn/edu/zjut/po/Role.hbm.xml</value>
</list>
</property>
</bean>
<!-- 首页访问的Action -->
<bean id="indexAction" class="cn.edu.zjut.action.IndexAction" scope="prototype">
<property name="CategoryService" ref="categoryService"/>
<property name="categorySecondService" ref="categorySecondService"/>
<property name="bookService" ref="bookService"/>
</bean>
	
<bean id="discount0" class="cn.edu.zjut.discount.Discount0">
<property name="discountName"><value>无折扣</value></property>
</bean>

<bean id="discount1" class="cn.edu.zjut.discount.Discount1">
<property name="discountName"><value>全场八折优惠！</value></property>
</bean>
<bean id="discount2" class="cn.edu.zjut.discount.Discount2">
<property name="discountName"><value>满100减20，满200减50！</value></property>
</bean>
<bean id="baseDAO" class="cn.edu.zjut.dao.BaseHibernateDAO" scope="singleton">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<bean id="customerDAO" class="cn.edu.zjut.dao.CustomerDAO" parent="baseDAO" scope="singleton"/>
<bean id="bookDAO" class="cn.edu.zjut.dao.BookDAO" parent="baseDAO" scope="singleton"/>
<bean id="customerService" class="cn.edu.zjut.service.CustomerService">
<property name="dao" ref="customerDAO"/>
<property name="moneyCardDAO" ref="moneyCardDAO"/>
</bean>
<bean id="bookService" class="cn.edu.zjut.service.BookService">
<property name="dao" ref="bookDAO"></property>
</bean>

<bean id="categoryService" class="cn.edu.zjut.service.CategoryService">
<property name="categoryDao" ref="categoryDao"/>
</bean>

<bean id="categorySecondService" class="cn.edu.zjut.service.CategorySecondService">
<property name="categorySecondDao" ref="categorySecondDao"/>
</bean>

<bean id="customerAction" class="cn.edu.zjut.action.CustomerAction" scope="prototype">
<property name="customerService" ref="customerService"/>
</bean>
<bean id="bookAction" class="cn.edu.zjut.action.BookAction" scope="prototype">
<property name="bookService" ref="bookService"/>
<property name="categoryService" ref="categoryService"/>
<property name="categorySecondService" ref="categorySecondService"/>
</bean>
<bean id="adminAction" class="cn.edu.zjut.action.AdminAction" scope="prototype" parent="bookAction">
<property name="adminService" ref="adminService"/>
<property name="orderService" ref="orderService"/>
</bean>
<bean id="sysadminAction" class="cn.edu.zjut.action.SysAdminAction" scope="prototype">
<property name="sysadminService" ref="sysadminService"/>
</bean>
<bean id="categorySecondDao" class="cn.edu.zjut.dao.CategorySecondDao">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>	

<bean id="categoryDao" class="cn.edu.zjut.dao.CategoryDao">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>	

<bean id="moneyCardDAO" class="cn.edu.zjut.dao.MoneyCardDAO" scope="singleton" parent="baseDAO"/>
<bean id="adminDAO" class="cn.edu.zjut.dao.AdminDAO" scope="singleton" parent="baseDAO"/>
<bean id="sysadminDAO" class="cn.edu.zjut.dao.SysAdminDAO" scope="singleton" parent="baseDAO"/>

<bean id="adminService" class="cn.edu.zjut.service.AdminService">
<property name="adminDAO" ref="adminDAO"/>
<property name="moneyCardDAO" ref="moneyCardDAO"/>
<property name="customerDAO" ref="customerDAO"/>
</bean>

<bean id="sysadminService" class="cn.edu.zjut.service.SysAdminService">
<property name="sysadminDAO" ref="sysadminDAO"/>
</bean>

<bean id="shoppingAction" class="cn.edu.zjut.action.ShoppingAction" scope="prototype">
<property name="customerService" ref="customerService"/>
<property name="bookService" ref="bookService"/>
<property name="orderService" ref="orderService"/>
<property name="discount" ref="discount0"/>
</bean>
<bean id="orderDAO" class="cn.edu.zjut.dao.OrderDAO" scope="singleton" parent="baseDAO"/>
<bean id="orderService" class="cn.edu.zjut.service.OrderService">
<property name="orderDAO" ref="orderDAO"/>
</bean>
</beans>